<!-- templates/services/service_form.html -->
{% extends 'services/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ form.instance.pk|default:"Create" }} Service{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center" style="color: #B5A1FF;">{{ form.instance.pk|default:"Create" }} Service</h1>
    <div class="form-container mx-auto" style="max-width: 600px;">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group text-center mt-4"style="display: flex; justify-content: center; gap: 10px;">
                <button type="submit" class="btn btn-primary" style="background-color: #F89AC5; border-color: #F89AC5;">Save</button>
                <a href="{% url 'services:service_list' %}" class="btn btn-secondary" style="background-color: #B5A1FF; border-color: #B5A1FF; color: #1C1B29;">Cancel</a>
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
